name: Build

on:
    push:
        branches:
            - main
        tags:
            - "v*"
    pull_request:
        branches:
            - main
jobs:
    Build:
        strategy:
            matrix:
                options:
                    - os: ubuntu-latest
                      framework: net8.0
                      runtime: -x64
                      codecov: false
                    - os: macos-latest
                      framework: net8.0
                      runtime: -x64
                      codecov: false
                    - os: windows-latest
                      framework: net8.0
                      runtime: -x64
                      codecov: false

        runs-on: ${{matrix.options.os}}
        if: "!contains(github.event.head_commit.message, '[skip ci]')"

        steps:
            - name: Git Config
              shell: bash
              run: |
                git config --global core.autocrlf false
                git config --global core.longpaths true

            - name: Git Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
                submodules: recursive

            # See https://github.com/actions/checkout/issues/165#issuecomment-657673315
            - name: Create LFS file list
              run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

            - name: Restore LFS cache
              uses: actions/cache@v4
              id: lfs-cache
              with:
                path: .git/lfs
                key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1

            - name: Git LFS Pull
              run: git lfs pull

            - name: Install NuGet
              uses: NuGet/setup-nuget@v2

            - name: Setup NuGet Cache
              uses: actions/cache@v4
              id: nuget-cache
              with:
                  path: ~/.nuget
                  key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props', '**/*.targets') }}
                  restore-keys: ${{ runner.os }}-nuget-

            - name: DotNet Setup
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: |
                  8.0.x

            - name: Build
              shell: pwsh
              run: ./ci-build.ps1 "${{matrix.options.framework}}"
              env:
                SIXLABORS_TESTING: True

            - name: Test
              shell: pwsh
              run: ./ci-test.ps1 "${{matrix.options.os}}" "${{matrix.options.framework}}" "${{matrix.options.runtime}}" "${{matrix.options.codecov}}"
              env:
                  SIXLABORS_TESTING: True
                  XUNIT_PATH: .\tests\ImageSharp.Textures.Tests # Required for xunit

            - name: Export Failed Output
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                  name: actual_output_${{ runner.os }}_${{ matrix.options.framework }}${{ matrix.options.runtime }}.zip
                  path: tests/Images/ActualOutput/

            - name: Update Codecov
              uses: codecov/codecov-action@v5
              if: matrix.options.codecov == true && startsWith(github.repository, 'SixLabors')
              with:
                  flags: unittests

    Publish:
        needs: [Build]

        runs-on: windows-latest

        if: (github.event_name == 'push')

        steps:
            - uses: actions/checkout@v4

            - name: Install NuGet
              uses: NuGet/setup-nuget@v2

            - name: Setup Git
              shell: bash
              run: |
                  git config --global core.autocrlf false
                  git config --global core.longpaths true
                  git fetch --prune --unshallow
                  git submodule -q update --init --recursive

            - name: Pack
              shell: pwsh
              run: ./ci-pack.ps1

            - name: Publish to MyGet
              shell: pwsh
              run: |
                  nuget.exe push .\artifacts\*.nupkg ${{secrets.MYGET_TOKEN}} -Source https://www.myget.org/F/sixlabors/api/v2/package
                  nuget.exe push .\artifacts\*.snupkg ${{secrets.MYGET_TOKEN}} -Source https://www.myget.org/F/sixlabors/api/v3/index.json
